<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="div" style="align-items: center; display: flex; flex-direction: column; justify-content: center;">
    <h1 style="font-weight: bolder;">ERROR 404</h1>
    <H2>Pagina no encontrada</H2>
    <img src="assets\error.png" alt="">
  </div>
</ion-content>
