<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bievenid@!</strong>
    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <ion-list>
        <ion-item class="formGroup">
          <ion-label for="correo" position="floating">Correo</ion-label>
          <ion-input type="text" class="form-control" id="correo" formControlName="correo" placeholder="Ingrese su correo"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('correo')?.hasError('required') && loginForm.get('correo')?.dirty">
          {{ validationMessages.correo.required }}
        </div>
        <div *ngIf="loginForm.get('correo')?.hasError('email') && loginForm.get('correo')?.dirty">
          {{ validationMessages.correo.email}}
        </div>
        <ion-item class="formGroup">
          <ion-label for="password" position="floating">Contraseña</ion-label>
          <ion-input class="form-control" id="password" formControlName="password" type="password" placeholder="****"  ></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.dirty">
          {{ validationMessages.password.required }}
        </div>
      </ion-list>
      <ion-button type="submit" [disabled]="!loginForm.valid" expand="full">Ingresar</ion-button>
    </form>
    <p *ngIf="error" class="error-message">{{ errorMensaje }}</p>
    <ion-button [routerLink]="'/restablecer-contra'" fill="clear">¿Olvidaste tu contraseña?</ion-button>
    <ion-button [routerLink]="'/registro'" fill="clear">¿No tienes cuenta? Registrate</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title>App desarrollada por F.F company</ion-title>
  </ion-toolbar>
</ion-footer>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando . . . </p></ngx-spinner>

