<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bievenid@!</strong>
    <form [formGroup]="loginForm">
      <ion-list>
        <ion-item class="formGroup" (ngSubmit)="iniciarSesion()">
          <ion-label for="usuario" position="floating">Usuario</ion-label>
          <ion-input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="Ingrese su usuario"></ion-input>
          <div *ngIf="loginForm.get('usuario')?.hasError('required') && loginForm.get('usuario')?.dirty">
            {{ validationMessages.usuario.required }}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="password" position="floating">Contraseña</ion-label>
          <ion-input class="form-control" id="password" formControlName="password" type="password" placeholder="****"  ></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.dirty">
          {{ validationMessages.password.required }}
        </div>
      </ion-list>
      <ion-button type="submit" [disabled]="!loginForm.valid" expand="full">Ingresar</ion-button>
    </form>
    <p *ngIf="errorMensaje" class="error-message">{{ errorMensaje }}</p>
    <ion-button [routerLink]="'/restablecer-contra'" fill="clear">¿Olvidaste tu contraseña?</ion-button>
    <ion-button [routerLink]="'/registro'" fill="clear">¿No tienes cuenta? Registrate</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title>App desarrollada por F.F company</ion-title>
  </ion-toolbar>
</ion-footer>
