<ion-header [translucent]="true">
  <ion-toolbar>
    <button (click)="retroceder()" class="boton-retroceder">← Retroceder</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">registrarAsistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="scanner-sheel" [hidden]="!hasDevices">

      <zxing-scanner *ngIf="!qrResultString" #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="formats"></zxing-scanner>
      

      <section class="results" *ngIf="qrResultString">
        <h3>Asistencia registrada:</h3>
        <ion-card>
          <h2>Datos clase</h2>
          <div class="box">
            <h4>{{ qrResultString }}</h4>
          </div>
          <h2>Datos usuario</h2>
          <div class="box">
            <h3>Carrera:</h3>
            <h4>{{currentUser.carrera}}</h4>
          </div>
          <div class="box">
            <h3>Nombre:</h3>
            <h4>{{currentUser.nombre}}</h4>
          </div>
          <div class="box">
            <h3>Apellido:</h3>
            <h4>{{currentUser.apellido}}</h4>
          </div>
          <div class="box">
            <h3>Rut:</h3>
            <h4>{{currentUser.rut}}</h4>
          </div>
          <div class="box">
            <h3>Region:</h3>
            <h4>{{currentUser.region}}</h4>
          </div>
          <div class="box">
            <h3>Comuna:</h3>
            <h4>{{currentUser.comuna}}</h4>
          </div>
          <div class="box" *ngIf="currentUser.selfie">
            <h3>Foto:</h3>
            <img [src]="currentUser.selfie" alt="Foto de usuario" width="200px" height="200px">
          </div>
          <div class="box">
            <h3>Ubicacion:</h3>
            <h4>{{ubi | coordinates}}</h4>
          </div>
        </ion-card>
      </section>
    </div>
  </div>
</ion-content>


