<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>restablecerContra</ion-title>
    <button (click)="retroceder()" class="boton-retroceder">← Retroceder</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Reestablecer contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="recForm" (ngSubmit)="resuperarContra()">
    <ion-item class="formGroup">
      <ion-label for="correo" position="floating" position="floating">Ingrese el correo</ion-label>
      <ion-input type="text" class="form-control" id="correo" formControlName="correo" placeholder="Ingrese su correo"></ion-input>
    </ion-item>
    <div *ngIf="recForm.get('correo')?.hasError('required') && recForm.get('correo')?.dirty">
      {{ validationMessages.correo.required }}
    </div>
    <div *ngIf="recForm.get('correo')?.hasError('email') && recForm.get('correo')?.dirty">
      {{ validationMessages.correo.email}}
    </div>
    <ion-button expand="full" [disabled]="!recForm.valid" type="submit">Recuperar contraseña</ion-button>
  </form>
  <ion-card *ngIf="password">
    <h2>Su contraseña:</h2>
    <div class="box">
      <h4>{{ password }}</h4>
    </div>
  </ion-card>

</ion-content>
