<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="animacion" >
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenid@!!! </strong>
    <h5>Usuario:  {{ usuario }}</h5>
    <h1>Información Adicional </h1>

    <ion-button expand="full" [routerLink]="'/camara'">Realizar fotografia</ion-button>
    <ion-button expand="full" [routerLink]="'/registrar-asistencia'">Registrar asistencia</ion-button>
    <ion-button expand="full" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title>App desarrollada por F.F company</ion-title>
  </ion-toolbar>
</ion-footer>