<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <form [formGroup]="registerForm">
      <ion-list>
        <ion-item class="formGroup">
          <ion-label for="nombre" position="floating">Usuario</ion-label>
          <ion-input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre"></ion-input>
          <div *ngIf="registerForm.get('nombre')?.hasError('required') && registerForm.get('nombre')?.dirty">
            {{ validationMessages.nombre.required }}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="usuario" position="floating">Usuario</ion-label>
          <ion-input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="Ingrese su usuario"></ion-input>
          <div *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.dirty">
            {{ validationMessages.usuario.required }}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="password" position="floating">Contraseña</ion-label>
          <ion-input class="form-control" id="password" formControlName="password" type="password" placeholder="******"  ></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.dirty">
          {{ validationMessages.password.required }}
        </div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.dirty">
          {{ validationMessages.password.minlength }}
        </div>
      </ion-list>
      <ion-button type="submit" [disabled]="!registerForm.valid" expand="full">Ingresar</ion-button>
    </form>

    <ion-button (click)="registrar()" [routerLink]="'/login'" >Registrarse</ion-button>

  </div>

</ion-content>
