<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <form [formGroup]="registerForm" (ngSubmit)="registrar()">
      <ion-list>
        <ion-item class="formGroup">
          <ion-label for="nombre" position="floating">Nombre</ion-label>
          <ion-input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre"></ion-input>
          <div *ngIf="registerForm.get('nombre')?.hasError('required') && registerForm.get('nombre')?.dirty">
            {{ validationMessages.nombre.required }}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="apellido" position="floating">Apellido</ion-label>
          <ion-input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Ingrese su apellido"></ion-input>
          <div *ngIf="registerForm.get('apellido')?.hasError('required') && registerForm.get('apellido')?.dirty">
            {{ validationMessages.apellido.required }}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="rut" position="floating">Rut</ion-label>
          <ion-input type="text" class="form-control" id="rut" formControlName="rut" placeholder="Ingrese su rut"></ion-input>
          <div *ngIf="registerForm.get('rut')?.hasError('required') && registerForm.get('rut')?.dirty">
            {{ validationMessages.rut.required }}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="carrera" position="floating">Carrera</ion-label>
          <ion-input type="text" class="form-control" id="carrera" formControlName="carrera" placeholder="Ingrese su carrera"></ion-input>
          <div *ngIf="registerForm.get('carrera')?.hasError('required') && registerForm.get('carrera')?.dirty">
            {{ validationMessages.carrera.required }}
          </div>
        </ion-item>
        <ion-item>
          <ion-select (ionChange)="cargarComuna()" [(ngModel)]="regionSel"  label="Region" placeholder="Seleccione">
            <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select [disabled]="seleccionComuna" [(ngModel)]="comunaSel"  label="Comuna" placeholder="Seleccione">
            <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="correo" position="floating">Correo</ion-label>
          <ion-input type="text" class="form-control" id="correo" formControlName="correo" placeholder="Ingrese su correo"></ion-input>
          <div *ngIf="registerForm.get('correo')?.hasError('required') && registerForm.get('correo')?.dirty">
            {{ validationMessages.correo.required }}
          </div>
          <div *ngIf="registerForm.get('correo')?.hasError('email') && registerForm.get('correo')?.dirty">
            {{ validationMessages.correo.email}}
          </div>
        </ion-item>
        <ion-item class="formGroup">
          <ion-label for="password" position="floating">Contraseña</ion-label>
          <ion-input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña"></ion-input>
          <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.dirty">
            {{ validationMessages.password.required }}
          </div>
          <div *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.dirty">
            {{ validationMessages.password.minlength }}
          </div>
        </ion-item>
      </ion-list>
      <ion-button type="submit" [disabled]="!registerForm.valid" expand="full">Registrarse</ion-button>
    </form>
  </div>
</ion-content>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>
